/* DESCRIPTION CONTENT
-------------------------------------------------- */
.description .col-sm-8  {
  min-height: 0px; 
}

.upup {
    background-color: #fd9902;
    margin-bottom: 0;
}


.navbar-default {
    background-color: #000000;
}

.img-menu {
    width: 500px;
    margin-top: -37px;
    
}

.box-content {
    background-color: #ededed;
    padding: 3px 3px 3px 3px;
    width: 80%;
    height: 400px;
    margin: 0 auto;
}

.box-img {
    width: 80%;
    height: 40%;
    margin: 20px auto;
    padding-top: 10%;
}

.green {
    background-color: #46b98c;
}

.purpple {
    background-color: #8048b7;
    
}

.gold {
    background-color: #bf9b41;
}

.title-header {
    text-decoration: underline;  
}
.subtitle-header {
    font-style: italic;
    font-size: 0.5;
    
}

.header-text {
    text-align: left;
}